#content {
	max-width: 1000px;
	position: relative;
	
}
#text-content {
	text-align:center;
	max-width: 800px;    
	margin-left:auto;
	margin-right:auto;

}

h1 {
	font-family: 'Acme', sans-serif;
	color: Black;
	font-size: 70px;
	text-align:center;
	padding-top:60px;
}
#encabezado {
	background-size: cover;
	height:200px; 
	left: 170px;	
}

#login{
	background-color:rgb(50, 196, 73);
	background-position:right;
	float:right;
	border: solid black 2px;  margin: 5px;
	display: inline-block;
	width: 100px;
	height: 90px;
}
#footer {
	background-image:url(https://www.thekennelclub.org.uk/media/1159920/westminster-dog-of-the-year-2018.jpg);
	background-size: cover;
	clear:both;
	height: 340px;
	left: 170px;
	}